body{
  padding:54px 0 0 0;
  font-family: 'Raleway', sans-serif;
}
#top-banner {
  /*background: url(../images/top-banner.jpg) 0% 0%  no-repeat;*/
  background: url(../images/skyline.png) repeat-x;
  background-position: left bottom;
  background-size: 2000px;
  /*background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(225,225,225,0) 21%,rgba(235,235,235,0) 81%,rgba(238,238,238,1) 100%);*/
  /*background-size: auto auto;*/
  height:350px;
  position: relative;
}

#logo-bar {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  height: 130px;
}

#logo-bar img {
  max-width: 80%;
}

#code-snippet{
  width: 100%;
  box-shadow: 0 0 50px #FFFFFF;
  border-radius: 7px;
}

#main-content {
  font-size: 18pt;
  color: rgb(82, 69, 72);
}

#footer {
  margin-top:60px;
  height:26px;
  background-color: rgba(80,80,80,1);
  color:white;
  padding:7px;
}

.vert-space{
  height:70px;
}

.container.raise{
  margin-top: -58px;
}

.box{
  box-shadow: 0 0 5px rgba(40,40,40,0.8);
  border: 1px solid rgba(200,200,200,1);
  background: white;
  padding:20px;
}

.text-rows{
  margin-top:60px;
  font-size: 12pt
}

.text-row{
  margin-bottom:40px;
}
