body{
  padding:54px 0 0 0;
  font-family: 'Raleway', sans-serif;
}


#code-snippet{
  width: 100%;
  box-shadow: 0 0 50px #FFFFFF;
  border-radius: 7px;
}

#main-content {
  font-size: 18pt;
  color: rgb(82, 69, 72);
}

#footer {
  margin-top:60px;
  height:26px;
  background-color: rgba(80,80,80,1);
  color:white;
  padding:7px;
}

.vert-space{
  height:70px;
}

.container.raise{
  margin-top: -58px;
}

.box{
  box-shadow: 0 0 5px rgba(40,40,40,0.8);
  border: 1px solid rgba(200,200,200,1);
  background: white;
  padding:20px;
}

.text-rows{
  margin-top:60px;
  font-size: 12pt
}

.text-row{
  margin-bottom:40px;
}
